.mainhead {
	

}

body {
    background-color: #efeee7;
    font: Georgia;
    font color: #333333;

}

.title {
	font: Georgia;
	color: red;
	background-color: #ffffff;
	border-color: #cccccc;

}

.name {
	color: purple;
}

.rtmc {
	color: yellow;
}


